/* Contact Section */
#contact {
    background: #f9f9f9;
    padding: 50px 0;
}

.contact-container {
  padding: 0px 15px;
  background-color: #fffbfb;
  max-width: 600px;
  margin: 0 auto;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}

.contact-container h2 {
  text-align: center;
  margin-bottom: 30px;
  color: #333;
}

.contact-container p {
  text-align: center;
  margin-bottom: 30px;
  color: #181717;
  font-size: 16px;
}

.contact-container label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: #555;
  margin-top: 15px;
}

.contact-container input,
.contact-container textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  font-size: 16px;
  transition: 0.3s;
}

.contact-container input:focus,
.contact-container textarea:focus {
  border-color: #007BFF;
  outline: none;
}

.contact-container button {
  background-color: #007BFF;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
  width: 100%;
  margin-top: 15px;
  cursor: pointer;
  margin-bottom: 10px;
}

.contact-container button:hover {
  background-color: #0056b3;
}
